smart_note_summarizer.json
{
  "name": "smart note summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-google-note",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -80
      ],
      "id": "MASKED-WEBHOOK-ID-1",
      "name": "Webhook",
      "webhookId": "MASKED-WEBHOOK-UUID-1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/MASKED-GOOGLE-DOC-ID-1/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n{{$json[\"body\"][\"note\"]}}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "id": "MASKED-NODE-ID-1",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MASKED-CREDENTIAL-ID-1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Note added successfully\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        100,
        -80
      ],
      "id": "MASKED-NODE-ID-2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finalize-note",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        100
      ],
      "id": "MASKED-WEBHOOK-ID-2",
      "name": "Webhook1",
      "webhookId": "MASKED-WEBHOOK-UUID-2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=write it in easy words in bullet points without skipping any details and add some extra details if u have each in one line give me in proper format without ** and /n etc{{ $json.content }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        60,
        100
      ],
      "id": "MASKED-NODE-ID-3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        180,
        260
      ],
      "id": "MASKED-NODE-ID-4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "MASKED-GROQ-CREDENTIAL-ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $json[\"text\"] || $json[\"result\"] || $json[\"completion\"] || \"No summary returned.\";\n\nreturn [\n  {\n    json: {\n      summary: summary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        100
      ],
      "id": "MASKED-NODE-ID-5",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        560,
        100
      ],
      "id": "MASKED-NODE-ID-6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/MASKED-GOOGLE-DOC-ID-1/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -180,
        100
      ],
      "id": "MASKED-NODE-ID-7",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MASKED-CREDENTIAL-ID-1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/MASKED-GOOGLE-DOC-ID-2/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.summary }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        780,
        100
      ],
      "id": "MASKED-NODE-ID-8",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MASKED-CREDENTIAL-ID-1",
          "name": "Google Docs account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "MASKED-VERSION-ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "MASKED-INSTANCE-ID"
  },
  "id": "MASKED-WORKFLOW-ID",
  "tags": []
}
